In [18]:
num=int(input("enter integer number"))
if num > 0 :
  print (f"number is positve {num}")
else:
   print (f'number is negative {num}')

enter integer number-7
number is negative -7

In [21]:
num=int(input("Enter number"))
if num%2==0 :
  print("number is Even")
else:
  print("number is odd")

Enter number8
number is Even

In [24]:
age=int(input ("Enter your Age"))
if age <=5 :
  print ("Price is zero ")
elif age >5 and age <=12 :
  print ("price is 10")
elif age >12 and age <65 :
  print("price is 20")
else  :
    print ("price is 15")

Enter your Age7
price is 10

In [34]:
grade=float(input("enter your Grade"))
if grade >=90 :
  print("A")
elif grade <90 and grade >=80 :
  print("B")
elif grade <80 and grade >=70 :
  print("C")
elif grade <70 and grade >=50 :
    print ("D")
else :
  print ("F")

enter your Grade45
F

In [45]:
username = input("Enter username")
if username!="admin":
  print("Incorrect Username")
elif username=="admin":
 password = input("Enter password")
if password=="123456":
  print("welcome login")
else:
  print("incorrect password")

Enter usernameadmin
Enter password123456
welcome login

In [48]:
list=[1 , 2 , 3 , 4 , 5]
sqlist=[n** 2 for n in list]
print (sqlist)

[1, 4, 9, 16, 25]

In [10]:
i=0
while i<10 :
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(10,0,-1):
  print(i)
  if i==1:
    print("blast off")

10
9
8
7
6
5
4
3
2
1
blast off

In [29]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in a:
 if n%2==0:
  print(n,end="    ")

2    4    6    8    10